.logo{
    width: 70px;
}
.ul li a{
    color: #fff;
}
.sec-5{
    margin-left: 560px; 
    margin-top: 20px;
}
.slider-fluid{
    margin-bottom: -48px;
}
.sec-4{
    
    padding-top: 50px;
    padding-bottom: 50px;
}
